# Environment Configuration
.env

# Build output folders
frontend/dist/

# Logs
frontend/logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
frontend/node_modules
backend/node_modules
~/

# Debug log from npm
*/npm-debug.log

# IntelliJ IDE ignore
.idea

# Visual Studio Code
.vscode
.history
